# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build

# Env and secrets
.env
.env*.local

# Debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Testing
coverage/

# Optional: keep lockfiles (bun.lockb or package-lock.json) committed; ignore yarn.lock if you use bun
# yarn.lock
